div.paper-button(
  ng-class="[color ? 'paper-button--' + (color || 'info'): null, raised ? 'paper-button--raised' : null, flat ? 'paper-button--flat': null]"
)
  h1 hello there how are you doing, pal?
  paper-ripple(ng-if="!noink")

