div.paper-button(
  ng-class="[color ? 'paper-button--' + (color || 'info'): null, raised ? 'paper-button--raised' : null, flat ? 'paper-button--flat': null, hover ? 'paper-button--hover' : null]"
)
  div.ng-transclude
  paper-ripple(ng-if="!noink")
    
