span
  div.paper-dialog--sm(
    ng-class="{'paper-dialog--open': open}"
  )
    div.paper-dialog__content
      h2.paper-dialog__heading(ng-if="heading")
        {{heading}}
      div.paper-dialog__body(ng-transclude)

  paper-backdrop(ng-click="closeAll()")