doctype html
html(lang="en", ng-app="paper")
head
  meta(charset="UTF-8")
  title Material Design
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp")
  link(rel="stylesheet", href="assets/stylesheets/paper.css")
body
  div.container
    h1 Buttons

    paper-button(color="info") Button 
    
  script(src="components/angular/angular.min.js")
  script(src="components/angular-route/angular-route.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="assets/javascripts/paper.js")