doctype html
html(lang="en", ng-app="paper")
head
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp")
  link(rel="stylesheet", href="assets/stylesheets/paper.css")
body
  div.container
    h1 Buttons

    div.paper-dialog--sm.paper-dialog--open
      .paper-dialog__content
        h2 This is a dialog
        p You can specify anything here.

    paper-button(color="accent", raised) Button
    //- paper-button(raised, color="accent") Button
    //- paper-button(raised, color="success") Button
    //- paper-button(raised, color="info") Button
    //- paper-button(raised, color="warning") Button
    //- paper-button(raised, color="danger") Button

  script(src="components/angular/angular.min.js")
  script(src="components/angular-route/angular-route.min.js")
  script(src="components/angular-touch/angular-touch.min.js")
  script(src="assets/javascripts/paper.js")