doctype html
html(lang="en", ng-app="paper")
head
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp")
  link(rel="stylesheet", href="assets/stylesheets/paper.css")
body
  div.container
    h1 Buttons

    paper-dialog(id="#test", heading="This is a dialog heading")
      |You can specify anything here now.

    paper-dialog(id="#world", heading="Hello World - Terms and Conditions")
      |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate officia architecto, repellat nulla ad totam quidem deserunt numquam sapiente deleniti quia voluptatibus illum magnam aperiam sequi dolorem enim quam quae.

    paper-button(color="accent", raised, style="z-index: 9999", dialog-toggle="#test") Button
    paper-button(color="primary", raised, style="z-index: 9999", dialog-toggle="#world") Button

  script(src="components/angular/angular.min.js")
  script(src="components/angular-route/angular-route.min.js")
  script(src="components/angular-touch/angular-touch.min.js")
  script(src="assets/javascripts/paper.js")