doctype html
html(lang="en", ng-app="paper")
head
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp")
  link(rel="stylesheet", href="assets/stylesheets/paper.css")
body
  div.container
    h1 Buttons

    paper-dialog(id="#test", heading="This is a dialog heading")
      |You can specify anything here now.

    paper-button(color="accent", raised, style="z-index: 9999", dialog-toggle="#test") Button

  script(src="components/angular/angular.min.js")
  script(src="components/angular-route/angular-route.min.js")
  script(src="components/angular-touch/angular-touch.min.js")
  script(src="assets/javascripts/paper.js")