doctype html
html(lang="en", ng-app="material")
head
  meta(charset="UTF-8")
  title Material Design
  link(rel="stylesheet", href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp")
  link(rel="stylesheet", href="assets/stylesheets/material.css")
body

  h1 Hello there

  script(src="assets/javascripts/material.js")