$button-transition = box-shadow .28s $transition-bezier

.button
  position relative
  display inline-block
  
  width auto
  padding 10px 8px
  border-radius 3px
  
  font-size 14px
  font-weight 500
  color $black-text
  text-transform uppercase
  cursor pointer
  
  transition $button-transition
  
  &:active
    box-shadow $shadow-z2
    transition $button-transition
  
.button--raised
  @extend .button
  background $white
  box-shadow $shadow-z1
  
.button--hover
  @extend .button
  transition button-transition
  
  &:hover
    box-shadow $shadow-z1
    transition button-transition
    
.button--info
  @extend .button
  background $blue
  color $white-text

.button--danger
  @extend .button
  background $red
  color $white-text
  