/**
 * Colors
 */
 
/** Primary colors */
$primary-50   = $cyan-50   
$primary-100  = $cyan-100  
$primary-200  = $cyan-200  
$primary-300  = $cyan-300  
$primary-400  = $cyan-400  
$primary-500  = $cyan-500  
$primary-600  = $cyan-600  
$primary-700  = $cyan-700  
$primary-800  = $cyan-800  
$primary-900  = $cyan-900  
$primary-a100 = $cyan-a100 
$primary-a200 = $cyan-a200 
$primary-a400 = $cyan-a400 
$primary-a700 = $cyan-a700 
$primary      = $primary-500

/** Accent colors */
$accent-50   = $yellow-50   
$accent-100  = $yellow-100  
$accent-200  = $yellow-200  
$accent-300  = $yellow-300  
$accent-400  = $yellow-400  
$accent-500  = $yellow-500  
$accent-600  = $yellow-600  
$accent-700  = $yellow-700  
$accent-800  = $yellow-800  
$accent-900  = $yellow-900  
$accent-a100 = $yellow-a100 
$accent-a200 = $yellow-a200 
$accent-a400 = $yellow-a400 
$accent-a700 = $yellow-a700 
$accent      = $accent-500


/**
 * Shadows
 */
$shadow-z1 = 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24)
$shadow-z2 = 0 3px 6px rgba(0,0,0, .16), 0 3px 6px rgba(0,0,0, .23)
$shadow-z3 = 0 10px 20px rgba(0,0,0, .19), 0 6px 6px rgba(0,0,0, .23)
$shadow-z4 = 0 14px 28px rgba(0,0,0, .25), 0 10px 10px rgba(0,0,0, .22)
$shadow-z5 = 0 19px 38px rgba(0,0,0, .30), 0 15px 12px rgba(0,0,0, .22)


/**
 * Transitions
 */

$transition-bezier = cubic-bezier(0.4, 0, 0.2, 1);

/**
 * Typography
 */

/** Font families */
$font-family-sans-serif = "RobotoDraft", "Roboto", Helvetica, Arial, sans-serif;
$font-family-serif      = Georgia, "Times New Roman", Times, serif;
$font-family-monospace  = Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base       = $font-family-sans-serif;

/** Font sizes */
$font-size-base    = 14px
$font-size-smaller = ceil($font-size-base * 0.65)
$font-size-small   = ceil($font-size-base * 0.85)
$font-size-large   = ceil($font-size-base * 1.25)
$font-size-larger  = floor($font-size-base * 1.45)

$font-size-h1 = floor(($font-size-base * 2.6))
$font-size-h2 = floor(($font-size-base * 2.15))
$font-size-h3 = ceil(($font-size-base * 1.7))
$font-size-h4 = ceil(($font-size-base * 1.25))
$font-size-h5 = $font-size-base;
$font-size-h6 = ceil(($font-size-base * 0.85))

/** Line height */
$line-height-base     = 1.428571429 
$line-height-computed = floor(($font-size-base * $line-height-base))


/**
 * Breakpoints
 */
rupture.scale       = 0 480px 768px 992px 1170px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl'


/**
 * Grid system
 */
$grid-columns = 12

 
/**
 * Container sizes
 */
$container-xs = 95%
$container-sm = 90%
$container-md = 90%
$container-lg = 980px
$container-xl = 1080px
$container-fluid = 95%