/**
 * Variables
 */
 
/** Appearance */
$dialog-background = $white
$dialog-box-shadow = $shadow-z3
$dialog-padding    = 24px

/** Sizes */
$dialog-size-sm = 320px
$dialog-size-md = 480px
$dialog-size-lg = 640px

/** Misc */
$dialog-transition = transform .28s $transition-bezier;
// $dialog-transition = transform 0s $transition-bezier;


.paper-dialog
  @extend .clearfix
  width 80%
  position fixed
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%) scale(0)
  z-index 5
  background $dialog-background
  border-radius 2px
  box-shadow $dialog-box-shadow
  transition $dialog-transition    
  +above('md')
    width 70%
    
.paper-dialog--open
  @extend .paper-dialog
  transform translateX(-50%) translateY(-50%) scale(1)
  transition $dialog-transition    
 

/**
 * Sizes
 */
.paper-dialog--sm
  @extend .paper-dialog
  +above('lg')
    width $dialog-size-sm

.paper-dialog--md
  @extend .paper-dialog
  +above('lg')
    width $dialog-size-md

.paper-dialog--lg
  @extend .paper-dialog
  +above('lg')
    width $dialog-size-lg
  

/**
 * Components
 */
 
.paper-dialog__content
  padding $dialog-padding
     
  p 
    font-size 14px
    line-height 1.846
    color $black-secondary-text
      
.paper-dialog__heading
  margin 0 0 .83em
  font-size 1.5em
  font-weight 500
  
.paper-dialog__close
  float right
  color $black-icon
  cursor pointer
